{% extends 'base.html.twig' %}

{% block title %}Yugioh{% endblock %}

{% block body %}
    {% if cards %}
        <table id="cards" class="table table-striped">
            <thead>
                <tr>
                    <th>Card Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>{{ card.cardName }}</td>
                        <td>
                            <a href="{{ path('card_show', {id: card.id}) }}"
                            class="btn btn-info">Show</a>
                            <a href="{{ path('edit_card', {id: card.id}) }}" 
                            class="btn btn-dark">Edit</a>
                            <form method="delete" style="display: inline-block;" action="{{ path('delete_card', {id: card.id}) }}">
                                <button class="btn btn-danger" onclick="confirm('Are you sure');">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No cards to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}